<!DOCTYPE html>
<html>
<head>
    <title>ui demo</title>
    <script type="text/javascript" src="../../../javascripts/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../../javascripts/jquery-ui/jquery-ui-1.9.1.custom.min.js"></script>
    <link href="../../../javascripts/jquery-ui/css/jquery-ui-1.8.18.custom.css" rel='stylesheet'>
    <script type="text/javascript" src="../../../javascripts/ui.js"></script>
    <link href="../../../stylesheets/ui.css" rel='stylesheet'>
</head>
<body>
<div id="app">
    <button onclick="renderUI()" style="font-size: 20px;height: 36px;margin-left: 50%;margin-top: 10%;">jQuery UI Dialog</button>
    <div id="dialog" title="demo"></div>
</div>
</body>
</html>